Repository riganti/dotvvm, pull requests merged in 2021-11, with the labels that each got.

#1189 Throw if html writer contains attribute and text/end tag is written
  src/Framework/Framework/Controls/HtmlWriter.cs
  src/Framework/Framework/Controls/IHtmlWriter.cs
  src/Framework/Framework/Controls/KnockoutHelper.cs
  src/Framework/Framework/Controls/PostbackScriptOptions.cs
Labels: Framework

#1180 Refactor capabilty registration: split type scanning from code generation
  src/Framework/Framework/Binding/DotvvmCapabilityProperty.CodeGeneration.cs
  src/Framework/Framework/Binding/DotvvmCapabilityProperty.Helpers.cs
  src/Framework/Framework/Binding/DotvvmCapabilityProperty.cs
  src/Framework/Framework/Controls/CompositeControl.cs
  src/Framework/Framework/Controls/HtmlGenericControl.cs
  src/Framework/Framework/Controls/TextOrContentCapability.cs
  src/Framework/Framework/Utils/ExpressionUtils.cs
  src/Tests/Runtime/CapabilityPropertyTests.cs
  src/Tests/Runtime/config-tests/ConfigurationSerializationTests.SerializeDefaultConfig.json
Labels: Framework

#1211 Remove obsolete control properties
  src/Framework/Framework/Configuration/DotvvmConfiguration.cs
  src/Framework/Framework/Controls/GridViewTextColumn.cs
  src/Framework/Framework/Controls/Literal.cs
  src/Framework/Framework/Controls/SelectorBase.cs
  src/Framework/Framework/Controls/TextBox.cs
  src/Framework/Framework/ResourceManagement/FileResourceLocation.cs
  src/Framework/Framework/ResourceManagement/UrlResourceLocation.cs
  src/Tests/Runtime/config-tests/ConfigurationSerializationTests.SerializeDefaultConfig.json
Labels: Framework

#1219 Added DotVVM.Testing package to publish pipeline
  ci/scripts/CopyBetweenNugetFeeds.ps1
  ci/scripts/publish.ps1
Labels: Framework

#1222 Dictionary[X] translation should not return observable
  src/Framework/Framework/Resources/Scripts/collections/dictionaryHelper.ts
Labels: bug, Framework

#1225 Rewriting the view compiller to use System.Linq.Expressions
  src/Framework/Framework/Binding/BindingProperties.cs
  src/Framework/Framework/Compilation/Binding/ExpressionHelper.cs
  src/Framework/Framework/Compilation/BindingCompiler.cs
  src/Framework/Framework/Compilation/CompiledAssemblyCache.cs
  src/Framework/Framework/Compilation/ControlTree/ControlTreeResolverBase.cs
  src/Framework/Framework/Compilation/ControlTree/DefaultControlTreeResolver.cs
  src/Framework/Framework/Compilation/ControlTree/IAbstractTreeBuilder.cs
  src/Framework/Framework/Compilation/ControlTree/IAbstractTreeRoot.cs
  src/Framework/Framework/Compilation/ControlTree/Resolved/ResolvedTreeBuilder.cs
  src/Framework/Framework/Compilation/ControlTree/Resolved/ResolvedTreeRoot.cs
  src/Framework/Framework/Compilation/DefaultControlBuilderFactory.cs
  src/Framework/Framework/Compilation/DefaultViewCompiler.cs
  src/Framework/Framework/Compilation/DefaultViewCompilerCodeEmitter.cs
  src/Framework/Framework/Compilation/EmitterMethodInfo.cs
  src/Framework/Framework/Compilation/IBindingCompiler.cs
  src/Framework/Framework/Compilation/IControlBuilderFactory.cs
  src/Framework/Framework/Compilation/IViewCompiler.cs
  src/Framework/Framework/Compilation/RoslynExtensionMethods.cs
  src/Framework/Framework/Compilation/RoslynValueEmitter.cs
  src/Framework/Framework/Compilation/Static/StaticView.cs
  src/Framework/Framework/Compilation/Static/StaticViewCompiler.cs
  src/Framework/Framework/Compilation/Styles/ResolvedControlHelper.cs
  src/Framework/Framework/Compilation/ViewCompiler/ControlBuilderDescriptor.cs
  src/Framework/Framework/Compilation/ViewCompiler/DefaultViewCompiler.cs
  src/Framework/Framework/Compilation/ViewCompiler/DefaultViewCompilerCodeEmitter.cs
  src/Framework/Framework/Compilation/ViewCompiler/DelegateControlBuilder.cs
  src/Framework/Framework/Compilation/ViewCompiler/IControlBuilder.cs
  src/Framework/Framework/Compilation/ViewCompiler/IViewCompiler.cs
  src/Framework/Framework/Compilation/ViewCompiler/ViewCompilerConfiguration.cs
  src/Framework/Framework/Compilation/ViewCompiler/ViewCompilingVisitor.cs
  src/Framework/Framework/Controls/PostBackHandler.cs
  src/Framework/Framework/Controls/PropertyImmutableHashtable.cs
  src/Framework/Framework/DependencyInjection/DotVVMServiceCollectionExtensions.cs
  src/Framework/Framework/DotVVM.Framework.csproj
  src/Framework/Framework/Hosting/MarkupFile.cs
  src/Framework/Framework/Routing/RouteHelper.cs
  src/Framework/Testing/ControlTestHelper.cs
  src/Framework/Testing/DotvvmTestHelper.cs
  src/Samples/Api.Owin/Web.config
  src/Samples/Owin/DotVVM.Samples.BasicSamples.Owin.csproj
  src/Samples/Owin/Web.config
  src/Tests/Runtime/ControlTree/DefaultControlTreeResolverTests.cs
  src/Tests/Runtime/DotvvmControlErrorsTests.cs
Labels: enhancement
