Repository riganti/dotvvm, pull requests merged in 2021-08, with the labels that each got.

#1093 Fixed issue in type inferer when unifying same types
  src/DotVVM.Framework.Tests/Binding/BindingCompilationTests.cs
  src/DotVVM.Framework.Tests/Binding/JavascriptCompilationTests.cs
  src/DotVVM.Framework/Compilation/Inference/TypeInferer.cs
Labels: bug

#1108 Split registration of string.Split and String.Contains methods
  src/DotVVM.Framework/Compilation/Javascript/JavascriptTranslatableMethodCollection.cs
Labels: bug, Framework

#1087 Load even assemblies from DotvvmMarkupConfiguration.Controls
  src/DotVVM.Framework/Compilation/CompiledAssemblyCache.cs
Labels: bug

#1077 Cell decorators in GridViewColumn
  src/DotVVM.Framework.Tests/ControlTests/SimpleControlTests.cs
  src/DotVVM.Framework/Controls/Decorator.cs
  src/DotVVM.Framework/Controls/GridView.cs
  src/DotVVM.Framework/Controls/GridViewColumn.cs
  src/DotVVM.Samples.Common/DotVVM.Samples.Common.csproj
  src/DotVVM.Samples.Common/ViewModels/ControlSamples/GridView/GridViewCellDecoratorsViewModel.cs
  src/DotVVM.Samples.Common/Views/ControlSamples/GridView/GridViewCellDecorators.dothtml
  src/DotVVM.Samples.Common/Views/ControlSamples/GridView/GridViewRowDecorators.dothtml
  src/DotVVM.Samples.Tests/Control/GridViewTests.cs
  src/DotVVM.Testing.Abstractions/SamplesRouteUrls.designer.cs
Labels: enhancement, Framework

#535 Easier way to write controls
  src/DotVVM.Framework.Testing/ControlTestHelper.cs
  src/DotVVM.Framework.Tests/ControlTests/CompositeControlTests.cs
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/CompositeControlTests.BasicWrappedHtmlControl.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/CompositeControlTests.WrappedRepeaterControl.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/MarkupControlTests.MarkupControl_PassingStaticCommand.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/ServerSideStyleTests.PostbackHandlers.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/ServerSideStyleTests.WrapperAndAppend.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/SimpleControlTests.RouteLink.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/ViewModulesServerSideTests.IncludeViewModule.html
  src/DotVVM.Framework.Tests/ControlTests/testoutputs/ViewModulesServerSideTests.IncludeViewModuleInControl.html
  src/DotVVM.Framework.Tests/Runtime/RuntimeErrorTests.cs
  src/DotVVM.Framework.Tests/TestExtensions.cs
  src/DotVVM.Framework/Binding/ActiveDotvvmPropertyGroup.cs
  src/DotVVM.Framework/Binding/BindingHelper.cs
  src/DotVVM.Framework/Binding/CombinedDataContextAttributeProvider.cs
  src/DotVVM.Framework/Binding/DataContextChangeAttribute.cs
  src/DotVVM.Framework/Binding/DelegateActionPropertyGroup.cs
  src/DotVVM.Framework/Binding/DotvvmCapabilityProperty.cs
  src/DotVVM.Framework/Binding/DotvvmProperty.cs
  src/DotVVM.Framework/Binding/GroupedDotvvmProperty.cs
  src/DotVVM.Framework/Binding/PropertyGroupAttribute.cs
  src/DotVVM.Framework/Binding/ValueOrBinding.cs
  src/DotVVM.Framework/Binding/ValueOrBindingExtensions.cs
  src/DotVVM.Framework/Binding/VirtualPropertyGroupDictionary.cs
  src/DotVVM.Framework/Compilation/Binding/GeneralBindingPropertyResolvers.cs
  src/DotVVM.Framework/Compilation/ControlTree/ControlResolverMetadataBase.cs
  src/DotVVM.Framework/Compilation/ControlTree/ControlTreeResolverBase.cs
  src/DotVVM.Framework/Compilation/ControlTree/DefaultControlResolver.cs
  src/DotVVM.Framework/Compilation/ControlTree/DotvvmPropertyGroup.cs
  src/DotVVM.Framework/Compilation/ControlTree/IPropertyGroupDescriptor.cs
  src/DotVVM.Framework/Compilation/DefaultViewCompilerCodeEmitter.cs
  src/DotVVM.Framework/Controls/Button.cs
  src/DotVVM.Framework/Controls/ButtonBase.cs
  src/DotVVM.Framework/Controls/CheckableControlBase.cs
  src/DotVVM.Framework/Controls/CompositeControl.cs
  src/DotVVM.Framework/Controls/DotvvmBindableObject.cs
  src/DotVVM.Framework/Controls/DotvvmBindableObjectHelper.cs
  src/DotVVM.Framework/Controls/DotvvmControl.cs
  src/DotVVM.Framework/Controls/DotvvmControlCollection.cs
  src/DotVVM.Framework/Controls/HtmlGenericControl.cs
  src/DotVVM.Framework/Controls/Literal.cs
  src/DotVVM.Framework/Controls/MarkupOptionsAttribute.cs
  src/DotVVM.Framework/Controls/RouteLink.cs
  src/DotVVM.Framework/Controls/TemplateHost.cs
  src/DotVVM.Framework/Controls/TextOrContentCapability.cs
  src/DotVVM.Framework/DotVVM.Framework.csproj
  src/DotVVM.Framework/Hosting/ErrorPages/ErrorPageTemplate.cs
  src/DotVVM.Framework/ResourceManagement/ClientGlobalize/JQueryGlobalizeRegisterTemplate.cs
  src/DotVVM.Framework/Utils/ReflectionUtils.cs
  src/DotVVM.Framework/ViewModel/Serialization/ViewModelTypeMetadataSerializer.cs
  src/DotVVM.Framework/yarn.lock
  src/DotVVM.Samples.Common/Controls/CompositeControlSample.cs
  src/DotVVM.Samples.Common/DotVVM.Samples.Common.csproj
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/CompositeControls/BasicSampleViewModel.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/CompositeControls/ControlPropertyNamingConflictViewModel.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/CompositeControls/BasicSample.dothtml
  src/DotVVM.Samples.Common/Views/FeatureSamples/CompositeControls/ControlPropertyNamingConflict.dothtml
Labels: enhancement, Framework, proposal

#1115 Inline script will use hash ID to identify
  src/DotVVM.Framework/Controls/InlineScript.cs
  src/DotVVM.Framework/ResourceManagement/ResourceManager.cs
Labels: bug, Framework

#1114 Use template element instead of script tag
  src/DotVVM.Framework.Tests/Runtime/ScriptEndingTests.cs
  src/DotVVM.Framework/ResourceManagement/InlineScriptResource.cs
  src/DotVVM.Framework/ResourceManagement/TemplateResource.cs
Labels: bug, Framework

#1110 Add a MSBuild task for running `yarn build`
  src/DotVVM.Framework/DotVVM.Framework.csproj
  src/DotVVM.Framework/rollup.config.js
Labels: enhancement, Framework

#1123 Added waitfor loop to Feature_MarkupControl_MultiControlHierarchy
  src/DotVVM.Samples.Tests/Feature/MarkupControlTests.cs
Labels: Framework, testing
