Repository riganti/dotvvm, pull requests merged in 2021-03, with the labels that each got.

#957 Fix concurrency handler for staticCommands
  src/DotVVM.Framework/Resources/Scripts/postback/internal-handlers.ts
Labels: Framework, bug

#949 Upgraded RIGANTI Selenium testing framework for UI tests
  src/DotVVM.Samples.Tests/Control/AuthenticatedViewTests.cs
  src/DotVVM.Samples.Tests/Control/ContentPlaceHolderTests.cs
  src/DotVVM.Samples.Tests/Control/DataPagerTests.cs
  src/DotVVM.Samples.Tests/Control/EnabledPropertyTests.cs
  src/DotVVM.Samples.Tests/Control/EnvironmentViewTests.cs
  src/DotVVM.Samples.Tests/Control/HtmlLiteralTests.cs
  src/DotVVM.Samples.Tests/Control/IncludeInPagePropertyTests.cs
  src/DotVVM.Samples.Tests/Control/LinkButtonTests.cs
  src/DotVVM.Samples.Tests/Control/RadioButtonTests.cs
  src/DotVVM.Samples.Tests/Control/RouteLinkTests.cs
  src/DotVVM.Samples.Tests/Control/SpaContentPlaceHolderTests.cs
  src/DotVVM.Samples.Tests/Control/TextBoxTests.cs
  src/DotVVM.Samples.Tests/Control/UpdateProgressTests.cs
  src/DotVVM.Samples.Tests/Control/ValidationSummaryTests.cs
  src/DotVVM.Samples.Tests/DotVVM.Samples.Tests.csproj
  src/DotVVM.Samples.Tests/ErrorsTests.cs
  src/DotVVM.Samples.Tests/Feature/DependencyInjectionTests.cs
  src/DotVVM.Samples.Tests/Feature/LocalizationTests.cs
  src/DotVVM.Samples.Tests/Feature/PostBackTests.cs
  src/DotVVM.Samples.Tests/Feature/ReturnedFileTests.cs
  src/DotVVM.Samples.Tests/Feature/ValidationTests.cs
  src/DotVVM.Samples.Tests/Feature/ViewModelProtectionTests.cs
Labels: enhancement, testing

#955 Fixed coercion issue on observable assign and added state/patch API to observables
  src/DotVVM.Framework.Tests.Common/Runtime/DotvvmControlRenderedHtmlTests.cs
  src/DotVVM.Framework/Controls/TextBox.cs
  src/DotVVM.Framework/Resources/Scripts/binding-handlers/introduce-alias.ts
  src/DotVVM.Framework/Resources/Scripts/binding-handlers/textbox-text.ts
  src/DotVVM.Framework/Resources/Scripts/dotvvm-base.ts
  src/DotVVM.Framework/Resources/Scripts/global-declarations.ts
  src/DotVVM.Framework/Resources/Scripts/knockout-latest.debug.js
  src/DotVVM.Framework/Resources/Scripts/knockout-latest.js
  src/DotVVM.Framework/Resources/Scripts/metadata/coercer.ts
  src/DotVVM.Framework/Resources/Scripts/state-manager.ts
  src/DotVVM.Framework/Resources/Scripts/tests/stateManagement.data.ts
  src/DotVVM.Framework/Resources/Scripts/tests/stateManagement.ko-deferred.test.ts
  src/DotVVM.Framework/Resources/Scripts/tests/stateManagement.stress.test.ts
  src/DotVVM.Framework/Resources/Scripts/tests/stateManagement.test.ts
  src/DotVVM.Samples.Tests/Control/ClaimViewTests.cs
  src/DotVVM.Samples.Tests/Control/GridViewTests.cs
  src/DotVVM.Samples.Tests/Control/RepeaterTests.cs
  src/DotVVM.Samples.Tests/Feature/DateTimeSerializationTests.cs
Labels: Framework, bug, enhancement
