Repository riganti/dotvvm, pull requests merged in 2021-02, with the labels that each got.

#934 Fixed CSRF token refresh for apps hosted in virtual directories
  src/DotVVM.Framework/Resources/Scripts/DotVVM.js
  src/DotVVM.Framework/Resources/Scripts/DotVVM.min.js
  src/DotVVM.Framework/Resources/Scripts/DotVVM.ts
Labels: Framework, bug

#933 Issue with async command execution
  src/DotVVM.Framework/Hosting/DotvvmPresenter.cs
  src/DotVVM.Samples.Common/DotVVM.Samples.Common.csproj
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/CustomResponseProperties/SimpleExceptionFilterViewModel.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/StaticCommand/CustomAwaitableViewModel.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/CustomResponseProperties/SimpleExceptionFilter.dothtml
  src/DotVVM.Samples.Common/Views/FeatureSamples/StaticCommand/CustomAwaitable.dothtml
  src/DotVVM.Samples.Tests/Feature/CommandResultTests.cs
  src/DotVVM.Samples.Tests/Feature/StaticCommandTests.cs
  src/DotVVM.Testing.Abstractions/SamplesRouteUrls.designer.cs
Labels: bug

#928 Static Commands in MarkupControl
  src/DotVVM.Framework.Tests.Common/Binding/StaticCommandCompilationTests.cs
  src/DotVVM.Framework.Tests.Common/ControlTests/ControlTestHelper.cs
  src/DotVVM.Framework.Tests.Common/ControlTests/MarkupControlTests.cs
  src/DotVVM.Framework.Tests.Common/ControlTests/testoutputs/MarkupControlTests.MarkupControl_PassingStaticCommand.html
  src/DotVVM.Framework/Compilation/Binding/StaticCommandBindingCompiler.cs
  src/DotVVM.Framework/Compilation/Javascript/InvocationRewriterExpressionVisitor.cs
  src/DotVVM.Framework/Compilation/Javascript/JavascriptTranslatableMethodCollection.cs
  src/DotVVM.Framework/Compilation/Javascript/JavascriptTranslator.cs
  src/DotVVM.Framework/Controls/DotvvmMarkupControl.cs
  src/DotVVM.Framework/Resources/Scripts/binding-handlers/introduce-alias.ts
  src/DotVVM.Samples.Common/DotVVM.Samples.Common.csproj
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/CommadPropertiesInMarkupControlViewModel.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/FakeDb.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/StaticCommandInMarkupControlCallingRegularCommandViewModel.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/StaticCommandInMarkupControlViewModel.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/CommandPropertiesInMarkupControl.dothtml
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/Device.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/Device.dotcontrol
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/Dialog.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/Dialog.dotcontrol
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/StaticCommandInMarkupControl.dothtml
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/StaticCommandInMarkupControlCallingRegularCommand.dothtml
  src/DotVVM.Samples.Tests/Feature/MarkupControlTests.cs
  src/DotVVM.Testing.Abstractions/SamplesRouteUrls.designer.cs
Labels: enhancement, proposal

#937 Fix generics resolving in method overloads search
  src/DotVVM.Framework.Tests.Common/Binding/ExpressionHelperTests.cs
  src/DotVVM.Framework/Compilation/Binding/ExpressionHelper.cs
Labels: bug

#944 Fixed loading of the fallback script when a defer attribute is used
  src/DotVVM.Framework/ResourceManagement/LinkResourceBase.cs
  src/DotVVM.Framework/ResourceManagement/ScriptResource.cs
Labels: Framework, bug

#943 Add support for arguments in commands passed by control property
  src/DotVVM.Framework/Controls/DotvvmMarkupControl.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/FakeDb.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/StaticCommandInMarkupControlCallingRegularCommandViewModel.cs
  src/DotVVM.Samples.Common/ViewModels/FeatureSamples/MarkupControl/StaticCommandInMarkupControlViewModel.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/Device.dotcontrol
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/DeviceList.cs
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/DeviceList.dotcontrol
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/StaticCommandInMarkupControl.dothtml
  src/DotVVM.Samples.Common/Views/FeatureSamples/MarkupControl/StaticCommandInMarkupControlCallingRegularCommand.dothtml
  src/DotVVM.Samples.Tests/Feature/MarkupControlTests.cs
Labels: Framework

#947 Fixed empty string coercion in nullable types
  src/DotVVM.Framework/Resources/Scripts/knockout-latest.debug.js
  src/DotVVM.Framework/Resources/Scripts/knockout-latest.js
  src/DotVVM.Framework/Resources/Scripts/metadata/coercer.ts
  src/DotVVM.Framework/Resources/Scripts/metadata/primitiveTypes.ts
  src/DotVVM.Framework/Resources/Scripts/state-manager.ts
  src/DotVVM.Framework/Resources/Scripts/tests/stateManagement.test.ts
Labels: Framework, bug
