Repository riganti/dotvvm, pull requests merged in 2022-05, with the labels that each got.

#1206 Add HierarchyRepeater
  src/Framework/Framework/Compilation/Javascript/JavascriptTranslator.cs
  src/Framework/Framework/Controls/HierarchyRepeater.cs
  src/Framework/Framework/Controls/HtmlGenericControl.cs
  src/Framework/Framework/ResourceManagement/ResourceManager.cs
  src/Framework/Framework/ResourceManagement/ResourceUtils.cs
  src/Samples/Common/DotVVM.Samples.Common.csproj
  src/Samples/Common/ViewModels/ControlSamples/HierarchyRepeater/BasicViewModel.cs
  src/Samples/Common/Views/ControlSamples/HierarchyRepeater/Basic.dothtml
  src/Tests/Runtime/config-tests/ConfigurationSerializationTests.SerializeDefaultConfig.json
Labels: Framework

#1375 Add JS API for modifying the client-side error collection
  src/Framework/Framework/Resources/Scripts/tests/observableHierarchies.ts
  src/Framework/Framework/Resources/Scripts/tests/serialization.test.ts
  src/Framework/Framework/Resources/Scripts/tests/validation.test.ts
  src/Framework/Framework/Resources/Scripts/utils/evaluator.ts
  src/Framework/Framework/Resources/Scripts/validation/validation.ts
Labels: enhancement, Framework

#1380 Fix constant null in markup control property
  src/Framework/Framework/Resources/Scripts/binding-handlers/markup-controls.ts
  src/Framework/Framework/Resources/Scripts/tests/markupControls.test.ts
Labels: bug, Framework

#1383 Fixed codegen for serialization maps on .NET Framework
  src/Framework/Framework/ViewModel/Serialization/ViewModelSerializationMap.cs
Labels: bug, Framework

#1394 Fix implicit ToEnumString on nullable enum
  src/Framework/Framework/Compilation/Javascript/JavascriptTranslatableMethodCollection.cs
  src/Framework/Framework/Utils/ReflectionUtils.cs
Labels: bug

#1391 Encrypted values serialization should use our default settings
  src/Framework/Framework/ViewModel/Serialization/EncryptedValuesReader.cs
  src/Framework/Framework/ViewModel/Serialization/EncryptedValuesWriter.cs
  src/Tests/ViewModel/SerializerTests.cs
Labels: bug

#1365 Don't render id twice when both ID property and id attribute are set
  src/Framework/Framework/Controls/HtmlGenericControl.cs
  src/Tests/ControlTests/IdGeneration.cs
  src/Tests/ControlTests/testoutputs/IdGeneration.AutomaticIdGeneration_IdAttributeConflict.html
Labels: bug
