Repository riganti/dotvvm, pull requests merged in 2023-07, with the labels that each got.

#1672 Route not matched when it has optional parameter with constraint
  src/Framework/Framework/Configuration/DotvvmConfiguration.cs
  src/Framework/Framework/Routing/DotvvmRoute.cs
  src/Tests/Routing/DotvvmRouteTests.cs
Labels: bug, Framework

#1666 Fix NRE when IncludeInPage={resource: null}
  src/Framework/Framework/Controls/DotvvmControl.cs
  src/Tests/ControlTests/SimpleControlTests.cs
  src/Tests/ControlTests/testoutputs/SimpleControlTests.IncludeInPage.html
Labels: bug

#1674 Added ASP.NET Web Forms adapters package
  .github/workflows/main.yml
  ci/scripts/Get-PublicProjects.ps1
  src/Adapters/Tests/WebForms/DotVVM.Adapters.WebForms.Tests.csproj
  src/Adapters/Tests/WebForms/HybridRouteLinkTests.cs
  src/Adapters/Tests/WebForms/WebFormsRouteTableInit.cs
  src/Adapters/Tests/WebForms/testoutputs/HybridRouteLinkTests.HybridRouteLink_NoBindings.html
  src/Adapters/Tests/WebForms/testoutputs/HybridRouteLinkTests.HybridRouteLink_SuffixAndQueryString.html
  src/Adapters/Tests/WebForms/testoutputs/HybridRouteLinkTests.HybridRouteLink_ValueBinding.html
  src/Adapters/WebForms/Controls/HybridRouteLink.cs
  src/Adapters/WebForms/Controls/WebFormsLinkUtils.cs
  src/Adapters/WebForms/DotVVM.Adapters.WebForms.csproj
  src/Adapters/WebForms/DotvvmConfigurationExtensions.cs
  src/Adapters/WebForms/WebFormsAdaptersExtensions.cs
  src/Adapters/WebForms/dotvvmwizard.snk
  src/DotVVM.sln
  src/Framework/Framework/Controls/RouteLink.cs
  src/Framework/Framework/Controls/RouteLinkCapability.cs
  src/Framework/Testing/DotVVM.Framework.Testing.csproj
  src/Tests/DotVVM.Framework.Tests.csproj
  src/Tests/Runtime/config-tests/ConfigurationSerializationTests.SerializeDefaultConfig.json
Labels: enhancement, Framework
